@use '../base/typography' as *;

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100vw;
}

