@use '../../scss' as *;

.btn-sectiontwo {
    background: $background;
    width: 10em;
    height: 3.0rem;
    color: grey;
    text-align: center;
    border-bottom: 1px solid $font-color;
    box-sizing: border-box;
    border: none;
    font-family:'Montserrat', sans-serif;
    @include xsBreakPoint {
        width: 7em;
        height: 2.0rem;
        font-size: 0.8rem;
    }
}
.btn-sectiontwo:hover {
    color: $font-color;
}

.btn-sectiontwo:focus {
    color: $font-color;
}
.header {
    // height:10%;
    cursor: pointer;
    list-style: none;
}

.pad{
    padding-bottom: 10%;
}
.body-setiontwo-left {
    // background:yellow;
    width: 50%;
    @include xsBreakPoint {
        // height: 100%;
        width: 100%;
        display:flex;
     align-items:center;
     justify-content:center;
    }
    @include smBreakPoint {
        width: 100%;
        display:flex;
     align-items:center;
     justify-content:center;
    }   
}
.body-setiontwo{
    height:100%;
    // border:2px solid green;
}


.body-sectiontwo-right {
    // background:red;
    // border:2px solid green;
    width: 50%;
    @include xsBreakPoint {
        // height: 100%;
        width: 90%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    @include smBreakPoint {
        width: 90%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
}
.btn-blue {
    background: $font-color;
    width: 10em;
    height: 2rem;
    color: white;
    text-align: center;
    border: none;
    border-radius: 6px;
    font-family:'Montserrat', sans-serif;
    font-size: 0.9rem;
    @include xsBreakPoint {
        width: 12em;
        height: 1.9rem;
        font-size: 0.9rem;
        align-items: center;
        margin-left:13%;
    }
}

.book {
    height: 90%;
    width: 50%;
    border-radius: 8px;
    margin-top:5%;
    // margin-top: 8%;
    //   border:1px solid red;
    @include xsBreakPoint {
        height: 70%;
        width: 50%;
    }
    @include mdBreakPoint {       
        width: 60%;
    }
    @include lgBreakPoint {       
        width: 60%;
    }
}
.book-info {
    width: 50%;
    height: 100%;
    padding-top: 8%;
    @include xsBreakPoint {
        width: 90%;
        padding-left: 10%;
    }
    @include smBreakPoint {
        width: 80%;
    }
    h1 {
        @include xsBreakPoint {
            font-size: 1.3em;
            margin-left: 14%;
            width: 80%;
            padding-left: 20%;
        }
        @include mdBreakPoint {
            font-size: 1.8em;
           
        }

    }
}
